@import "~bootstrap/scss/bootstrap";

// General styling
body,
h1,
h2,
h3,
main {
  font-family: "Caudex", serif;
}

nav {
  background-color: #f3f3f3;
  color: #394a51;
  font-family: "Caudex", serif;

}

.landing-page {
  text-align: center;
  height: 100vh;
  font-family: "Caudex", serif;
  padding-top: 9rem;
  h1 {
    font-size: 5rem;
    color: #d9d2cc;
    padding: 1rem;
  }
  h2 {
    font-size: 1.5rem;
    color: #fbf2d5;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  button {
    color: #fbf2d5;
    background-color: transparent;
    margin-top: 2rem;
    opacity: 0.5;
    font-size: 1.3rem;
  }
  button:hover {
    color: #fbf2d5;
    background-color: #394a51;
    opacity: 1;
  }
  background: rgba(0, 0, 0, 0.7) url("https://localhost:5001/images/img2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

// Landing/booking page
.div-landing-page {
  background: rgba(0, 0, 0, 0.3) url("https://localhost:5001/images/img3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  padding-top: 3rem;
  padding-bottom: 2rem;

  .form-container {
    max-width: 20rem;
    max-height: 40rem;
    border-radius: 10%;
    background-color: #394a51;
    opacity: 0.9;
    padding: 1rem;
    margin-left: 5rem;
    color: #fbf2d5;

    h3 {
      color: #fbf2d5;
    }
    h4 {
      text-align: center;
    }

    .form-button {
      margin: auto;
      margin-top: 1rem;
      max-width: 10rem;
    }
    .form-button:hover {
      color: #fbf2d5;
      background-color: #394a51;
      opacity: 1;
    }
    .form-row {
      padding: 0.5rem;
      margin-top: 1rem;
    }
  }

  .div-landing-page-row {
    margin: 0;
    padding-right: 4rem;
  }

  h1 {
    color: #fbf2d5;
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
  }

  h3 {
    text-align: center;
  }

  a {
    color: #f3f3f3;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #fbf2d5;
  }

}

#background-video {
  width: 99vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

// footer
.div-footer {
  background-color: #394a51;
  color: #fbf2d5;
  height: 14rem;
  text-align: center;
  padding-top: 1rem;

  .row-footer {
    margin: 0;
    text-align: center;
  }

  .icon-light {
    color: #fbf2d5;
    margin: 0.5rem;
  }
}

// rooms by query component
.div-rooms-query-loading {
  min-height: 50rem;
}

// room card
.div-room-card {
  .card {
    margin: auto;
    border-radius: 10%;
    margin-top: 2rem;
    text-align: center;
    .card-title {
      text-align: center;
    }
  }
  a {
    color: #394a51;
    background-color: transparent;
    text-decoration: none;
  }

  .card:hover {
    background-color: #394a51;
  }
  a:hover {
    color: #fbf2d5;
  }
}

// Room booking card
.div-room-booking-card {
  padding: 3rem;

  img {
    max-width: 30rem;
  }
  button {
    margin: auto;
    width: 31rem;
    height: 14rem;
    color: #fbf2d5;
    background-color: #394a51;
    font-size: 2.5rem;
  }
  button:hover {
    color: #394a51;
    background-color: #d9d2cc;
  }
  p {
    background-color: #fbf2d5;
    padding: 3rem;
  }
  h3 {
    padding-bottom: 2rem;
  }
  .icon {
    color: #394a51;
  }
  .p-room-price {
    text-align: center;
    background-color: #fbf2d5;
    padding: 1.5rem;
    ul {
      text-align: left;
    }
  }
  h5 {
    text-align: right;
  }
}
