@import "~bootstrap/scss/bootstrap";

// Colours
$light-colour1: #ffffff;
$light-colour2: #f3f3f3;
$light-colour3: #fbf2d5;
$dark-colour: #394a51;

// Fonts
$main-font: "Caudex", serif;

// Minimum page height
$min-height: 60vh;

// Basic styling 
@mixin div-basic-style {
  text-align: center;
  min-height: $min-height;
}

@mixin button-colour {
  .btn {
    color: $light-colour2;
    background-color: $dark-colour;
  }
  .btn:hover {
    color: $dark-colour;
    background-color: $light-colour1;
  }
}

@mixin background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}



body,
h1,
h2,
h3,
main {
  font-family: $main-font;
}

nav {
  background-color: $light-colour1;
  color: $dark-colour;
  font-family: $main-font
}

.landing-page {
  text-align: center;
  height: 100vh;
  font-family: $main-font;
  padding-top: 9rem;
  h1 {
    font-size: 5rem;
    color: $light-colour1;
    padding: 1rem;
  }
  h2 {
    font-size: 1.5rem;
    color: $light-colour3;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  button {
    color: $light-colour3;
    background-color: transparent;
    margin-top: 2rem;
    opacity: 0.5;
    font-size: 1.3rem;
    margin-inline: 1rem;
    padding: 0.4rem;
    border-radius: 7%;
  }
  button:hover {
    color: $light-colour3;
    background-color: $dark-colour;
    opacity: 1;
  }
  background: rgba(0, 0, 0, 0.7) url("http://localhost:8000/images/img2.jpg");
  @include background-image();
}

// Landing/booking page
.div-landing-page {
  background: rgba(0, 0, 0, 0.3) url("http://localhost:8000/images/img3.jpg");
  @include background-image();

  padding-top: 3rem;
  padding-bottom: 2rem;

  .form-container {
    max-width: 20rem;
    max-height: 40rem;
    border-radius: 10%;
    background-color: $dark-colour;
    opacity: 0.9;
    padding: 1rem;
    margin-left: 5rem;
    color: $light-colour3;

    h3 {
      color: $light-colour3;
    }
    h4 {
      text-align: center;
    }

    .form-button {
      margin: auto;
      margin-top: 1rem;
      max-width: 10rem;
    }
    .form-button:hover {
      color: $light-colour3;
      background-color: $dark-colour;
      opacity: 1;
    }
    .form-row {
      padding: 0.5rem;
      margin-top: 1rem;
    }
  }

  .div-landing-page-row {
    margin: 0;
    padding-right: 4rem;
  }

  h1 {
    color: $light-colour3;
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
  }

  h3 {
    text-align: center;
  }

  a {
    color: $light-colour2;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: $light-colour3;
  }
}

// footer
.div-footer {
  background-color: $dark-colour;
  color: $light-colour3;
  height: 14rem;
  text-align: center;
  padding-top: 1rem;

  .row-footer {
    margin: 0;
    text-align: center;
  }

  .icon-light {
    color: $light-colour3;
    margin: 0.5rem;
  }
}

// rooms by query component
.div-rooms-query-loading {
  @include div-basic-style();
}

// room card
.div-room-card {
  .card {
    margin: auto;
    border-radius: 10%;
    margin-top: 2rem;
    text-align: center;
    .card-title {
      text-align: center;
    }
  }
  a {
    color: $dark-colour;
    background-color: transparent;
    text-decoration: none;
  }

  .card:hover {
    background-color: $dark-colour;
  }
  a:hover {
    color: $light-colour3;
  }
}

// Room booking card
.div-room-booking-card {
  padding: 3rem;

  img {
    max-width: 30rem;
  }
  button {
    margin: auto;
    width: 31rem;
    height: 14rem;
    color: $light-colour3;
    background-color: $dark-colour;
    font-size: 2.5rem;
  }
  button:hover {
    color: $dark-colour;
    background-color: $light-colour1;
  }
  p {
    background-color: $light-colour3;
    padding: 3rem;
  }
  h3 {
    padding-bottom: 2rem;
  }
  .icon {
    color: $dark-colour;
  }
  .p-room-price {
    text-align: center;
    background-color: $light-colour3;
    padding: 1.5rem;
    ul {
      text-align: left;
    }
  }
  h5 {
    text-align: right;
  }
}

.div-login {
  @include div-basic-style();
  align-items: center;
  h3 {
    padding: 3rem;
  }
  .btn {
    margin-top: 3rem;
    color: $light-colour3;
    background-color: $dark-colour;
  }
  .btn:hover {
    color: $dark-colour;
    background-color: $light-colour1;
  }
  .col {
    margin-inline: 12rem;
  }
}

// reservation card

.div-reservation-card {
  @include div-basic-style();
  .card {
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    color: $dark-colour;
    margin-bottom: 2rem;
    .card-title {
      text-align: center;
    }
  }
  a {
    color: $dark-colour;
    text-decoration: none;
  }
  .card:hover {
    background-color: $dark-colour;
    border-width: 0.2rem;
  }
  a:hover {
    color: $light-colour3;
  }
  h3,
  h4 {
    padding: 1.5rem;
  }
  .list-group-item {
    border-width: 0;
    border-color: transparent;
  }
}

.div-login-register,
.div-confirm-details {
  @include div-basic-style();
  align-items: center;

  h3 {
    padding: 3rem;
  }
  .btn {
    margin-top: 3rem;
    color: $light-colour3;
    background-color: $dark-colour;
  }
  .btn:hover {
    color: $dark-colour;
    background-color: $light-colour1;
  }
  .col {
    margin-inline: 12rem;
  }
}

.div-all-rooms,
.div-rooms-query {
  @include div-basic-style();
  align-items: center;
  h3 {
    padding: 3rem;
  }
}

.div-rooms-query h3 {
  color: $light-colour3;
}

.div-change-reservation, .div-contact {
  min-height: $min-height;

  form {
    max-width: 30rem;
    margin-left: 20rem;
  }
  h3 {
    padding: 3rem;
    text-align: center;
  }
  .btn {
    color: $light-colour3;
    background-color: $dark-colour;
  }
  .btn:hover {
    color: $dark-colour;
    background-color: $light-colour1;
  }
  .row {
    padding: 0.5rem;
  }
  .cancel {
    color: $light-colour1;
    background-color: rgb(151, 18, 45);
  }
  .cancel:hover {
    color: rgb(151, 18, 45);
    background-color: $light-colour1;
  }
}
